.mainBox{
    height: 410px;
    width: 410px;
    border: 1px solid black;
    margin: 10px 10px;
}

.miniBoxes {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #ffff;
    font-size:50px;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align:middle;
    border: 1px solid black;
}

.circle{
    border: 1px solid #ffff;
    height: 50%;
    width: 50%;
    border-radius: 20px;
}