body {
    display: flex;
}

main {
    width: 100%;
}

.dashboardwrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.dashboardwrapper>div {
    width: 250px;
    margin: 0 10px;
}

.graphs {
    display: flex;
    margin: 10px 0;
}

.graphs>div {
    margin: 0 10px;
}

.others {
    display: flex;
}